@(message: String)
<!doctype html>
<html lang="en" ng-app="newsRadar">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>News Radar</title>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'/>
    <link rel='stylesheet' href='@routes.Assets.at("angular-material/angular-material.css")'/>

    <script type="text/javascript" src='@routes.FeedListController.feedJavascriptControllers()'></script>

    <script type="text/javascript" src='@routes.Assets.at("angularjs/angular.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("angular-material/angular-material.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("angularjs/angular-animate.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("angularjs/angular-aria.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("angularjs/angular-messages.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("news-radar-gui/scripts/feed.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("news-radar-gui/scripts/feedlist.component.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("news-radar-gui/scripts/feedadd.component.js")'></script>

</head>

<body ng-cloak layout="column">

    <md-toolbar layout="row" class="md-toolbar-tools">
        <h1>News Radar</h1>
    </md-toolbar>

    <md-content flex id="content" >
        <div layout="column" flex="35" layout-padding>
            <div>
                <feed-add></feed-add>
            </div>
            <div>
                <feed-list></feed-list>
            </div>
        </div>
    </md-content>

</body>

</html>